<!DOCTYPE html>
<html>
<head>
    <title>"I'm in"</title>
    <link rel="stylesheet" href={{ url_for("static", filename="style/main.css")}} />
</head>
<body>
    <h1>wow you did it</h1>
    <hr width="600">
    <p>good job! you did it wow aren't you privelaged <br>btw thanks for giving me ur ip adress k thx enjoy the site</p>
    <hr width="600">
    <p>
        My name's Ice, I love coding and creating some simple <br> 
        robots. i joined a robotic competition and only got <br>
        around 32nd place, but to be fair, it was the school's <br>
        first time joining a robotic competition and we started <br>
        late (definitely not a coping mechanism)
    </p>
    <hr width="600">
    <p id="love">I love <br>
    <ol>
        <li>Python</li>
        <li>Arduinos</li>
        <li>Machine Learning (though im not very experienced)</li>
        <li>Pentesting (im still learning it)</li>
        <li>front-end (just starting out)</li>
        <li>back-end (also just starting out)</li>
    </ol>
    </p>
</body>
</html>